/* html, body, body > div, body > div > div, body > div > div > div {
  height: 100%;
} */

:root {
  --main-color: #2E2E38;
  --dark-color: #202123;
  --light-color: #363A42;
  --black-color: #141517;
  --active-text-color: #EFF3F5;
  --notactive-text-color: #B0B3B5;
  --type-color: #5078BF;
}
.App{
  background-color: var(--main-color); 
  height: 100%;
  min-height: 100vh;
}